<h1>Editing Patient</h1>

<%= render 'form', patient: @patient %>

<%= link_to 'Show', @patient %> |
<%= link_to 'Back', request.headers["HTTP_REFERER"].nil? ? patients_path : request.headers["HTTP_REFERER"] %>
