body {
  // background-color: rgba(209, 169, 169, 0.062);
  background-color: #ffffff;
  opacity: 1;
  background-image:  radial-gradient(#fbb4d18e 0.4px, transparent 0.4px), radial-gradient(#fbb4d16c 0.4px, #ffffff 0.4px);
  background-size: 16px 16px;
  background-position: 0 0,8px 8px;  
 }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), 
       local('Roboto-Regular'), 
       url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) 
       format('woff');
}

.container-login {
  min-width: 40%;
  max-width: 55%;
  margin: 4% auto !important;
  padding: 4% !important;
}

.container-body {
  max-width: 90%;
  margin: 0px auto !important;
}

.center_div{
  margin: 0 auto;
  width:80% /* value of your choice which suits your alignment */
}

.nav-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
}

// Add Table background and borders.
th {
  background-color: #91919123;
}

th,td
{
  border:1px solid #e0e0e08e;
}

table.highlight > tbody > tr:hover {
  background-color: #26a69917;
}

.datetime select {
  display:inline-flex;
  width: auto;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

nav .brand-logo { 
  font-size: .5rem;
}

@media only screen and (min-width: 325px){
  nav .brand-logo { 
    font-size: .75rem;
  }
  .row .login-header {
    font-size: .75rem;
  }
  .footer {
    font-size: .55rem;
  }
}

@media only screen and (min-width: 1024px){
  nav .brand-logo { 
    font-size: 1.2rem;
  }
  .row .login-header {
    font-size: 1.2rem;
  }
  .footer {
    font-size: 0.8rem;
  }
  
}

@media only screen and (min-width: 1600px){
  nav .brand-logo { 
    font-size: 1.4rem;
  }
  .row .login-header {
    font-size: 1.4rem;
  }
  .footer {
    font-size: 1rem;
  }
}

.footer {
  z-index: 99;
  height: 4rem;
  position:fixed;
  background-color: #ee6e73;
  color: #ffffff;
  bottom:0;
  text-align: center;
  width: 100%;
  // background-color: #c01919;
  padding-top: 0.75rem;
  margin: 0 0 -1rem 0;
  font-family: 'Roboto';
  font-style:normal;
  font-weight: 200;
  src: local('Roboto Regular'), 
       local('Roboto-Regular'), 
       url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) 
       format('woff');
}

.btn-block {
  width: 100%;
}

.material-icons{
  display: inline-flex;
  vertical-align: top;
}